$color-grey-dark: #777;
$color-white:#FFF;
$color-negro:#000;
$color-primary-light:#008ACB;
$color-primary-dark:rgb(13, 84, 117);
//GRID
$grid-width:114rem;
$grid-width-m:72rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
//FONDO
$fondo-negro-opacity:rgba($color-negro, 0.5);