@keyframes navbarFixed {
    0% {
        background-image: linear-gradient(120deg, rgba($color-white, 1) 0%, rgba($color-white, 1) 0%, transparent 0%);
    }
    10% {
        background-image: linear-gradient(120deg, rgba($color-white, 1) 0%, rgba($color-white, 1) 10%, transparent 10%);
    }
    20% {
        background-image: linear-gradient(120deg, rgba($color-white, 1) 0%, rgba($color-white, 1) 20%, transparent 20%);
    }
    30% {
        background-image: linear-gradient(120deg, rgba($color-white, 1) 0%, rgba($color-white, 1) 30%, transparent 30%);
    }
    40% {
        background-image: linear-gradient(120deg, rgba($color-white, 1) 0%, rgba($color-white, 1) 40%, transparent 40%);
    }
    50% {
        background-image: linear-gradient(120deg, rgba($color-white, 1) 0%, rgba($color-white, 1) 50%, transparent 50%);
    }
    60% {
        background-image: linear-gradient(120deg, rgba($color-white, 1) 0%, rgba($color-white, 1) 60%, transparent 60%);
    }
    70% {
        background-image: linear-gradient(120deg, rgba($color-white, 1) 0%, rgba($color-white, 1) 70%, transparent 70%);
    }
    80% {
        background-image: linear-gradient(120deg, rgba($color-white, 1) 0%, rgba($color-white, 1) 80%, transparent 80%);
    }
    90% {
        background-image: linear-gradient(120deg, rgba($color-white, 1) 0%, rgba($color-white, 1) 90%, transparent 90%);
    }
    100% {
        background-image: linear-gradient(120deg, rgba($color-white, 1) 0%, rgba($color-white, 1) 100%, transparent 100%);
    }
}