<section class="landing-a_section__header" id="header">
    <div class="landing-a_section__header-content">
        <div class="row">
            <div class="col-3-of-5">
                <h1 class="landing-a_section__header-content--heading">El negocio más rentable <span>Nanotecnología</span></h1>
                <p class="landing-a_section__header-content--paragraph">
                    Regístrate y conoce todas las oportunidades de negocio que puedes lograr con nuestros productos
                </p>
                <ul class="landing-a_section__header-content--listado">
                    <li><i class="icon-basic-world"></i> Hasta 89% de margen de utilidad</li>
                    <li><i class="icon-basic-world"></i> Alta Demanda</li>
                    <li><i class="icon-basic-world"></i> Sin Competencia real</li>
                    <li><i class="icon-basic-world"></i> Múltiples sectores de mercado</li>
                    <li><i class="icon-basic-world"></i> Productos ecológicos</li>
                    <li><i class="icon-basic-world"></i> Respaldo de Marca</li>
                </ul>
            </div>
            <div class="col-2-of-5">
                <div class="landing-a_section__header-content--form">
                    <app-formulario></app-formulario>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="featuresA">
    <div class="row">
        <div class="col-1-of-3">
            <div class="featuresA__content">
                <i class="icon-basic-gunsight"></i>
                <h3 class="featuresA__heading">Capacitaciones</h3>
                <p class="featuresA__paragraph">Conviértete en un experto en la aplicación y venta de recubrimientos nanotecnológicos.</p>
            </div>

        </div>
        <div class="col-1-of-3">
            <div class="featuresA__content">
                <i class="icon-basic-life-buoy"></i>
                <h3 class="featuresA__heading">Respaldo de Marca</h3>
                <p class="featuresA__paragraph">Desde campañas publicitarias, tu propio CRM, hasta implementacion de ecommerce. En Nano Depot cuentas con asesoría por nuestros expertos en Marketing, Ventas y Nanotecnología.</p>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="featuresA__content">
                <i class="icon-basic-clockwise"></i>
                <h3 class="featuresA__heading">Retorno de inversión en 8 meses</h3>
                <p class="featuresA__paragraph">Tenemos récords desde 2 meses, juntos diseñaremos tu estrategia comercial.</p>
            </div>
        </div>
    </div>
</section>
<section class="video-negocio-diferente" id="historia">
    <div class="row">
        <h2 class="heading-secondary text-center">Más de Diez años en el mercado</h2>
        <p class="p-secondary text-center">Diez años de historias de éxito con nuestros Distribuidores Autorizados nos permiten ofrecerte uno de los mejores negocios en la actualidad. Hemos crecido más del 100% anual... ¡Crece con nosotros!</p>
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="video-negocio-diferente-image">
                <a href="https://youtu.be/aXfzd2FKqoU" class="btn-play btn-azul">
                    <i class="icon-basic-smartphone"></i>
                </a>
            </div>
        </div>
        <div class="col-1-of-2">
            <div class="video-negocio-diferente-text">
                <h3 class="heading-tertiary">MILES DE APLICACIONES</h3>
                <p class="video-negocio-diferente-paragraph">Los recubrimientos nanotecnológicos son una alternativa rentable para conservar sus propiedades siempre en perfectas condiciones pues al eliminar productos de limpieza y hacer más amplio el periodo entre mantenimientos, no solo logrará
                    tener sus propiedades luciendo los materiales en su aspecto original como si el tiempo no pasara a través de ellos, sino que además ahorrará dinero en mantenimiento. Olvídese de manchas, hongos, humedades y disfrute de sus pisos, techos
                    y fachadas como cuando los vio por primera vez colocados.</p>
                <a href="#" class="btn btn-azul btn-bottom-flex">Quiero ser distribuidor</a>
            </div>
        </div>
    </div>
</section>
<section class="featuresA">
    <div class="row">
        <h2 class="heading-secondary text-center">INVIERTE EN LA NUEVA REVOLUCIÓN INDUSTRIAL</h2>
        <p class="p-secondary text-center">Los recubrimientos nanotecnológicos son una alternativa rentable para conservar sus propiedades siempre en perfectas condiciones pues al eliminar productos de limpieza y hacer más amplio el periodo entre mantenimientos, no solo logrará tener sus
            propiedades luciendo los materiales en su aspecto original como si el tiempo no pasara a través de ellos, sino que además ahorrará dinero en mantenimiento.</p>

    </div>
    <div class="row">
        <div class="col-1-of-3">
            <div class="featuresA__content">
                <i class="icon-basic-bolt"></i>
                <h3 class="featuresA__heading">Innovación total</h3>
                <p class="featuresA__paragraph">Nuestros productos trabajan a nivel molecular, crean una estructura invisible que repele líquidos y suciedad en infinidad de superficies.</p>
            </div>

        </div>
        <div class="col-1-of-3">
            <div class="featuresA__content">
                <i class="icon-basic-flag1"></i>
                <h3 class="featuresA__heading">Sin compentencia</h3>
                <p class="featuresA__paragraph">Productos sustentables que de manera responsable con el medio ambiente, prologan la vida útil de las superficies, dejando un aspecto limpio y reluciente por más tiempo.</p>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="featuresA__content">
                <i class="icon-basic-upload"></i>
                <h3 class="featuresA__heading">Negocio Rentable</h3>
                <p class="featuresA__paragraph">Te acompañamos durante todo el camino para generar clientes y satisfacer sus necesidades, atención personalizada de marcas o sectores para resolver todas las preguntas.</p>
            </div>
        </div>
    </div>


</section>
<section class="counter">
    <div class="row">
        <h2 class="heading-secondary text-center">Nuestra presencia en los medios</h2>
    </div>
    <div class="counter__contain">
        <div class="row">
            <div class="col-1-of-5">
                <img src="https://cdn.nanodepot.com/images/medios/diariorespuesta_nanodepot_negro.png" alt="TV Azteca Nanodepot" class="counter__contain-img">
            </div>
            <div class="col-1-of-5">
                <img src="https://cdn.nanodepot.com/images/medios/diarioyucatan_nanodepot_negro.png" alt="Diario Yucatan Nanodepot" class="counter__contain-img">
            </div>
            <div class="col-1-of-5">
                <img src="https://cdn.nanodepot.com/images/medios/diarioimagen_nanodepot_negro.png" alt="Diario Imagen Nanodepot" class="counter__contain-img">
            </div>
            <div class="col-1-of-5">
                <img src="https://cdn.nanodepot.com/images/medios/entrepreneur_nanodepot_negro.png" alt="Entrepreneur Nanodepot" class="counter__contain-img">
            </div>
            <div class="col-1-of-5">
                <img src="https://cdn.nanodepot.com/images/medios/fronterainfo_nanodepot_negro.png" alt="Frontera Info Nanodepot" class="counter__contain-img">
            </div>
        </div>
    </div>
</section>
<section class="casos" id="distribuidores">
    <div class="row">
        <h2 class="heading-secondary text-center">Éxito de Nuestros Distribuidores</h2>
    </div>
    <div class="row">
        <div class="casos__btns">
            <ul class="casos__btns-group">
                <li class="casos__btns-group--element">Téxtil</li>
                <li class="casos__btns-group--element">Construcción</li>
                <li class="casos__btns-group--element">Automotriz</li>
                <li class="casos__btns-group--element">Industrial</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="casos__images">
            <div class="casos__images-box">
                <img src="https://cdn.nanodepot.com/images/casos-exito/small/calzzapato_nanodepot_exito.jpg" alt="Casos de Éxito" class="casos__images-box--img">
            </div>
            <div class="casos__images-box">
                <img src="https://cdn.nanodepot.com/images/casos-exito/small/dormimundo_nanodepot_exito.jpg" alt="Casos de Éxito" class="casos__images-box--img">
            </div>
            <div class="casos__images-box">
                <img src="https://cdn.nanodepot.com/images/casos-exito/small/interceramic_nanodepot_exito.jpg" alt="Casos de Éxito" class="casos__images-box--img">
            </div>
            <div class="casos__images-box">
                <img src="https://cdn.nanodepot.com/images/casos-exito/small/mazda_nanodepot_exito.jpg" alt="Casos de Éxito" class="casos__images-box--img">
            </div>
            <div class="casos__images-box">
                <img src="https://cdn.nanodepot.com/images/casos-exito/small/recubre_nanodepot_exito.jpg" alt="Casos de Éxito" class="casos__images-box--img">
            </div>
            <div class="casos__images-box">
                <img src="https://cdn.nanodepot.com/images/casos-exito/small/torre_sofia_nanodepot_exito.jpg" alt="Casos de Éxito" class="casos__images-box--img">
            </div>
        </div>
    </div>
</section>
<section class="conoce-plan">
    <div class="conoce-plan__contain">
        <h3 class="conoce-plan__heading">Conoce el plan de negocio</h3>
        <a href="#" class="btn btn-azul">Aquí</a>
    </div>
</section>
<section class="mercado" id="mercado">
    <div class="row">
        <h2 class="heading-secondary text-center">Mercado</h2>
        <p class="p-secondary text-center">Protege desde un auto, hasta una fábrica completa, desde un par de zapatos hasta una plataforma petrolera.</p>
    </div>
    <div class="row">
        <div class="col-1-of-3">
            <div class="mercado__card">
                <div class="mercado__card-side mercado__card-side-front">
                    <div class="mercado__card-side-front--header mercado__card-side-front--header---construccion">

                    </div>
                    <div class="mercado__card-side-front--p">
                        Los nanorecubrimientos no sólo permiten una reducción de costos en mantenimiento, también aumentan el valor de la construcción al alargar su vida útil.
                    </div>

                </div>
                <div class="mercado__card-side mercado__card-side-back">
                    <div class="mercado__card-side-back--contain">
                        <ul>
                            <li>Agencias de autos</li>
                            <li>Detallado automotriz</li>
                            <li>Auto-lavado</li>
                            <li>Transporte público</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="mercado__card">
                <div class="mercado__card-side mercado__card-side-front">
                    <div class="mercado__card-side-front--header mercado__card-side-front--header---industrial">

                    </div>
                    <div class="mercado__card-side-front--p">
                        No importa la magnitud del proyecto, el escudo invisible protege cualquier superficie del sector industrial de manera efectiva y ecológica, repeliendo suciedad, líquidos y aceites. Esta protección ayuda a alargar la vida útil de cualquier superficie,
                        además de permitir una fácil limpieza y un mantenimiento más fácil y menos costoso.
                    </div>

                </div>
                <div class="mercado__card-side mercado__card-side-back">
                    <div class="mercado__card-side-back--contain">
                        <ul>
                            <li>Agencias de autos</li>
                            <li>Detallado automotriz</li>
                            <li>Auto-lavado</li>
                            <li>Transporte público</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="mercado__card">
                <div class="mercado__card-side mercado__card-side-front">
                    <div class="mercado__card-side-front--header mercado__card-side-front--header---automotriz">

                    </div>
                    <div class="mercado__card-side-front--p">
                        Las nanoparticulas de NanoX150 se adhieren a la superficie de rines, vidrios y carrocería, brindando una protección invisible contra líquidos y suciedad. Como consecuencia, se genera un menor desgaste de los materiales recubiertos así como una mejora
                        en la estética y visibilidad del automóvil.
                    </div>

                </div>
                <div class="mercado__card-side mercado__card-side-back">
                    <div class="mercado__card-side-back--contain">
                        <ul>
                            <li>Agencias de autos</li>
                            <li>Detallado automotriz</li>
                            <li>Auto-lavado</li>
                            <li>Transporte público</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>